# 使用淘宝 NPM 镜像
registry=https://registry.npmmirror.com
# 强制 Electron 使用国内镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
# electron-builder 二进制文件镜像
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
